.btn {
    border: black;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: #2196F3;
  }

 .btn:hover {
    background-color: #0b7dda;
  }

  div {
    height: 400px;
    width: 400px;
    background: black;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px; 
    margin-left: -192px;
}

ul {
  list-style-type: none;
}

h1 {

}

textarea {
	width: 300px;
	border: 3px solid #cccccc;
  padding: 5px;
  margin-left: -40px; 
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}

body {
  background-image: url(Walking.jpg);
  background-size: 1536px 864px;
}

    
  