.btn {
    border: black;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    background-color: #2196F3;
  }

 .btn:hover {
    background-color: #0b7dda;
  }

div {
    height: 300px;
    width: 400px;
    background: black;

    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -200px; 
    margin-left: -192px;
}

#ind {
  height: 350px;
}

ul {
  list-style-type: none;
}

textarea {
	width: 300px;
	border: 3px solid #cccccc;
  padding: 5px;
  margin-left: -40px; 
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}

body {
  background-image: url(Walking.jpg);
  background-size: 1536px 864px;
}

input {
  font-family: Tahoma, sans-serif;
  border: 3px solid #cccccc;
  padding: 5px;
  box-sizing: border-box;
  font-size: 14px;
  margin: 0 0 15px;
}

.upd {
  margin-left: 29px;
}

    
  